<!DOCTYPE html>
<html>
<head>
	<title>oh no</title>
<script type="text/javascript"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="http://cdn.peerjs.com/0.3/peer.js"></script>
<script>

var my_stream = null;
var socket = io.connect('http://spyke.herokuapp.com:3333/');
// var socket = io.connect('http://localhost:3333/');

//allowing for various browsers
  window.URL = window.URL || window.webkitURL || window.mozURL || window.msURL;
  navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;


  if (navigator.getUserMedia) {
    navigator.getUserMedia({video: true, audio: true}, function(stream) {
          my_stream = stream;
          var videoElement = document.getElementById('myvideo');
          videoElement.src = window.URL.createObjectURL(stream) || stream;
          videoElement.play();
        }, function(err) {
          console.log('Failed to get local stream' ,err);
    });
  }   

//logic to get peer id from url
pathArray = window.location.href.split('/');
chatroomString = pathArray[4];

console.log("this my chatroomString: " + chatroomString);

var peer = null;			

//get peer lobic from server
//get peer id
  // var peer = new Peer({host: 'http://spyke.herokuapp.com', port: 9000, debug: true});
 var peer = new Peer({key: '4pt64ta9p1zto6r', debug: true});

 peer.on('open', function(peer) {
	    console.log('my peer id is ' + peer);
	    socket.emit('peer', peer);
  });

peer.on('error', function(err){
  alert(err.message);
  // Return to step 2 if error occurs
});

//getting an incoming call
peer.on('call', function(incoming_call) {
    console.log("Got a call!");
    // Answer the call with our stream from getUserMedia
    incoming_call.answer(my_stream); 
    // we receive a getUserMedia stream from the remote caller
    incoming_call.on('stream', function(remoteStream) {  
      // And attach it to a video object
      var ovideoElement = document.getElementById('othervideo');
      ovideoElement.src = window.URL.createObjectURL(remoteStream) || remoteStream;
      ovideoElement.play();

      console.log("this is the other id" + ovideoElement)
    });
  });  

socket.on('connection', function () {
  console.log("sockets connected");

  if (peer != null) {

  	console.log("peerid not null, sending it(maybe)");
  	socket.emit(peer);
  }
});
	

// Receive other folks peer ids
socket.on('peer', function (data) {
	console.log("Got a new peer: " + data);
	var sendingPeer = peer;
	socket.send(sendingPeer);

    socket.emit("here is some data: " + data);
    socket.emit("here is my peer id??: " + peer);

    console.log("Calling peer: " + data);	

    var call = peer.call(data, my_stream);

	// Call them with our stream
	call.on('stream', function(remoteStream) {
		console.log("Got remote stream");
		document.getElementById('othervideo').src = window.URL.createObjectURL(remoteStream) || remoteStream;
	});					
});

</script>
</head>
<body>
hey there this is chatroom.html
NOW CHAT 
<br>

<video id="myvideo" width="320" height="240"></video>
<button onclick="document.getElementById('myvideo').muted=!document.getElementById('myvideo').muted">Mute/ Unmute</button>
<video id="othervideo" width="320" height="240"></video>
<button onclick="document.getElementById('myvideo').muted=!document.getElementById('othervideo').muted">Mute/ Unmute</button>
<video id="othervideo" width="320" height="240"></video>
<button onclick="document.getElementById('myvideo').muted=!document.getElementById('othervideo').muted">Mute/ Unmute</button>
<video id="othervideo" width="320" height="240"></video>
<button onclick="document.getElementById('myvideo').muted=!document.getElementById('othervideo').muted">Mute/ Unmute</button>
 


</body>
</html>

