<!DOCTYPE html>
<html>
<head>
	<title></title>
<script type="text/javascript" src="http://cdn.peerjs.com/0/peer.js"></script>
<script>

var my_stream = null;

  window.URL = window.URL || window.webkitURL || window.mozURL || window.msURL;
  navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;

  if (navigator.getUserMedia) {
    navigator.getUserMedia({video: true, audio: true}, function(stream) {
          my_stream = stream;
          var videoElement = document.getElementById('myvideo');
          videoElement.src = window.URL.createObjectURL(stream) || stream;
          videoElement.play();
        }, function(err) {
          console.log('Failed to get local stream' ,err);
    });
  }   

//logic to get peer id from url
pathArray = window.location.href.split('/');
chatroomString = pathArray[4];

console.log("this my chatroomString: " + chatroomString);

//get new peer id
  var peer = new Peer({host: 'localhost', port: 9000, debug: true});
  peer.on('open', function(peer) {
	    console.log('my peer id is ' + peer);
  });

//getting an incoming call
peer.on('call', function(incoming_call) {
    console.log("Got a call!");
    // Answer the call with our stream from getUserMedia
    incoming_call.answer(my_stream); 
    // we receive a getUserMedia stream from the remote caller
    incoming_call.on('stream', function(remoteStream) {  
      // And attach it to a video object
      var ovideoElement = document.getElementById('othervideo');
      ovideoElement.src = window.URL.createObjectURL(remoteStream) || remoteStream;
      ovideoElement.play();

      console.log("this is the other id" + ovideoElement)
    });
  });  



</script>
</head>
<body>
hey there this is chatroom.html
<br>

<video id="myvideo" width="320" height="240"></video>
<button onclick="document.getElementById('myvideo').muted=!document.getElementById('myvideo').muted">Mute/ Unmute</button>
<video id="othervideo" width="320" height="240"></video>
<button onclick="document.getElementById('myvideo').muted=!document.getElementById('othervideo').muted">Mute/ Unmute</button>
<video id="othervideo" width="320" height="240"></video>
<button onclick="document.getElementById('myvideo').muted=!document.getElementById('othervideo').muted">Mute/ Unmute</button>
<video id="othervideo" width="320" height="240"></video>
<button onclick="document.getElementById('myvideo').muted=!document.getElementById('othervideo').muted">Mute/ Unmute</button>
 


</body>
</html>

