<!DOCTYPE html>
<html lang="en">
<head>
   <title>Spyke</title>
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="/"><img src="/images/spyke.png" ></a>
      <ul class="nav">
        <li><a href="/documentation">Documentation</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </div>
  <a href="https://github.com/allisonburtch/spyke"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://felipenmoura.org/talks/meet-ppw/slides/closing-images/forkme.png" alt="Fork me on GitHub"></a>


  <div class="container">
    <h1>Documentation</h1>
    <p>Spyke is open-source! And I need a lot of help. </p>
    <p>If this is going to be something totally not on Google servers, there's a lot of work to be done.</p>
    <p>Here's Spyke on <a href="https://github.com/allisonburtch/Spyke">Github</a></p>
  </div>
</body>
</html>