<!DOCTYPE html>
<html>
<head>
  <title>test test</title>

  <meta charset="utf-8">
  <script type="text/javascript"></script>
  <script src="http://cdn.peerjs.com/0.3/peer.js"></script>
 
</head>
<body>
<h3>hey there everyone what's up</h3>
<button a ref="/views/" onclick="go2Random()">New Pad</button>
</body>
   <script>



  function randomVidName() 
        {
            var chars = "0123456789ABCDEFGHIJKLMNOPQRS-_=TUVWXYZabcdefghijklmnopqrstuvwxyz";
            var string_length = 20;
            var randomstring = '';
                for (var i = 0; i < string_length; i++) 
                {
                    var rnum = Math.floor(Math.random() * chars.length);
                    randomstring += chars.substring(rnum, rnum + 1);
                }
                return randomstring;
            }


  function go2Random() 
            {
              // console.log(randomPadName());
                window.location = "v/" + randomVidName();
            }

  console.log(window.location);



</script>

</html>

 
      