<html>
<head>
	<title>spyyke</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
  	<link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript">
		<%= @random_url = SecureRandom.urlsafe_base64(20)%>
  </script>
</head>
<body>
  <%= erb :navbar %>
  <div class="container">
    <div class="hero-unit">
      <img src="/bootstrap/img/spyke.png">
      <h2>It's like the other thing. Except I'm not listening in.</h2>
    </div>

<div class="row-fluid">
      <div class="hero-unit span6">
  <h3>Check out this <a href="https://localhost:5000/newcall/<%=@random_url%>">link</a></h3>
</div>
</body>
</html>

