<div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="/"><img src="/bootstrap/img/spyke.png" ></a>
      <ul class="nav">
        
        <li><a href="/newcall">New Call</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </div>
  <a href="https://github.com/allisonburtch/spyke"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://felipenmoura.org/talks/meet-ppw/slides/closing-images/forkme.png" alt="Fork me on GitHub"></a>